@import "../../../global.scss";
.container {
  background-color: $main;
  min-height: $height;
  transition: all 1s ease;
  &.hom1 {
    background-color: $maingreen;
  }
  .card {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
