@import "../../global.scss";
.container {
  background-color: $fourth;
  padding: 0.5rem 1rem;
  margin: 1rem;
  width: 22vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  .user {
    width: 3rem;
    border-radius: 50%;
  }
  .userInfo {
    h5 {
      font-weight: 300;
      width: 7rem;
      font-size: 1.3rem;
      color: $color;
      cursor: pointer;
      @include large {
        width: 10rem;
      }
    }
  }
  .right {
    display: flex;
    width: 8vw;
    gap: 10px;
    .profile {
      transition: all 0.5s ease;
      border: 1px solid $second;
      padding: 0.3rem;
      border-radius: 5px;
      font-weight: 300;
      cursor: default;
      color: $color;
      text-decoration: underline $color;
      &:hover {
        background-color: $second;
        color: $color1;
        text-decoration: underline $color1;
      }
      &:active {
        color: $color1;
        text-decoration: underline $color1;
      }
    }
    .connect {
      transition: all 0.5s ease;
      border: 1px solid $second;
      padding: 0.3rem;
      border-radius: 5px;
      font-weight: 300;
      cursor: default;
      &:hover {
        background-color: $second;
        color: $color1;
      }
    }
    .rank {
      border: 1px solid $second;
      padding: 0.3rem;
      border-radius: 5px;
      cursor: default;
    }
  }
}
