@import "../../../../global.scss";

.card {
  background-color: $fourth;
  margin: 1rem;
  width: 22vw;
  min-height: 30vh;
  padding: 1rem;
  border-radius: 3px;
  .cardTop {
    display: flex;
    img {
      padding-right: 0.5rem;
      width: 7vw;
      height: 20vh;
    }
    .title {
      line-height: 1.4;
      font-weight: 300;
      a {
        background-color: $second;
        margin-right: 0.3rem;
        padding: 0.3rem;
        color: $color1;
        border-radius: 3px;
        text-decoration: none;
        transition: all 1s ease;
        &:hover {
          background-color: $first;
        }
      }
    }
  }
}
