@import "../../global.scss";
.header {
  background-color: $first;
  height: 11vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 1.3rem;
  font-weight: 300;
  color: $color1;
  letter-spacing: 0.2rem;
  transition: all 1s ease;
  &.head2 {
    background-color: $firstgreen;
  }
  a {
    color: $color1;
    text-decoration: none;
    &:focus {
      text-decoration: underline;
    }
  }
  img {
    width: 10vw;
    padding-top: 1rem;
  }
  .headerBtn {
    background-color: $second;
    min-width: 140px;
    padding: 0.4rem;
    border-radius: 0.2rem;
    text-align: center;
    cursor: default;
    transition: all 1s ease;
    &.btn2 {
      background-color: $secondgreen;
    }
  }
  .headerMiddle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    gap: 1rem;
  }
}
