@import "../../global.scss";
.container {
  padding: 1rem;
  word-break: break-all;

  img {
    width: 5vw;
  }
  p {
    background-color: $fourth;
    padding: 0.5rem;
    border-radius: 3px;
  }
}
