//brown section
$main: #583101;
$first: #603808;
$second: #6f4518;
$third: #ffedd8;
$fourth: #f3d5b5;
$color: #252422;
$color1: #fffcff;
$font: "Rokkitt", serif;
$height: calc(100vh - 13vh);
@mixin large {
  @media (max-width: 2560px) {
    @content;
  }
}
